/* EX 1 */
.ex-1-square:hover {
    background-color: red;
    transition: 3s;
}

/* EX 2 */

.ex-2-square:active {
    width: 100%;
    transition: all 3s linear 0s;
}

/* EX 3 */

.ex-3-square:hover {
    border-radius: 50%;
    transition: all 3s linear 0s;
}
/* ex 4 */

.ex-4-square:hover {
    opacity: 0;
    transition: all 3s linear 0s;

}

/* ex 5 */
.ex-5-square:hover {
    transform: scale(2) ;
    transition: all 1s linear 0s;
}
.ex-5-square:active {
    transform: scale(0.5);
    transition: all 1s linear 0s;
}

/* Ex 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/*  ex 7 */
.ex-7-img:hover {
    filter: grayscale(100%);
    transition: all 3s linear 0s;
}
/* ex 8 */
.ex-8-img:hover {
    filter: sepia(50%);
    border-radius: 5%;
    transition: all 3s linear 0s;
}
/*  ex 9 */
.ex-9-img:hover {
    transform: scale(2);
    filter: sepia(50%);
    border-radius: 5%;
    transition: all 3s linear 0s;
}
/* ex 10 */

.ex-10-icon {
    
    animation: spin 1s linear infinite;

}
@keyframes spin {
	0% {
		transform: rotate(1turn);
	}
}
 /* ex 11 */

 .ex-11-icon:hover {
    
    animation: spin 3s reverse 0s;

}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
    20%{
        transform: rotate(0.75turn);
    }
    100% {
        transform: rotate(0);

    }
}

/* ex 12 */

.ex-12-button:hover .ex-12-top-white {
    animation : slide-1 3s linear 0s;
}
@keyframes slide-1 {
    0% {
        left: 10%;
    }
    50% {
        left: 70%;
    }
    100% {
        
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation : slide-2 3s linear 0s;   
}
@keyframes slide-2 {
    0% {
        right: 10%;
    }
    50% {
        right: 70%;
    }
    100% {
        
    }
}

/* ex 13 */

.ex-13-button:hover .ex-13-top-white {
    animation : slide-3 2s ease-in-out 0s;
}
@keyframes slide-3 {
    0% {
      
    }
    20% {
      left: 80%;
      top: -10px;
    }
    40% {
      left: 80%;
      top: 60px;

    }
    60% {
      left: -10px;
      top: 60px;
    }
    80% {
        left: -10px;
        top: -10px;

    }
    100% {
        top: -10px;
        left: 10%;
    }
  }

  .ex-13-button:hover .ex-13-bottom-white {
    animation : slide-4 2s ease-in-out 0s;
}
@keyframes slide-4 {
    0% {
      
    }
    20% {
      right: 80%;
      bottom: -10px;
    }
    40% {
      right: 80%;
      bottom: 60px;

    }
    60% {
      right: -10px;
      bottom: 60px;
    }
    80% {
        right: -10px;
        bottom: -10px;

    }
    100% {
        bottom: -10px;
        right: 10%;
    }
  }
  